<script id ='uploadDetail_template' type = 'text/x-underscore-template'>
<p class="c0 fs20 item_title">成绩列表</p>
<div class="scorelist fs20">
<div class="sub_top textC">
	<div class="score_type c1 flex">
		<div class="width40"></div>
		<div class="width40 flex">
		     <%if(lessonNo==1){%>
		     <div><%=lang.estimateScore%></div>
	       	<%}%>
			<div><%=lang.gradeResult%></div>
			<%if(lessonNo==1||lessonNo==2){%>
			<div><%=lang.repeatTimes%></div>
			<%}%>
		</div>
		<div class="width20"></div>
	</div>
</div>
<% 
if(typeof seqs !== "undefined" && seqs !== null && seqs !== "" && seqs.length !== 0) {
%>
<div class="sub_list">
<%
// 大类
_.each(seqs,function(seqs_item,index){
// 检查要素
_.each(seqs_item.subjects,function(item,index){
%>
<div class="sub_item" data-subjectId=<%=item.subjectId%>>
	<div class="sub_item_title flex">
	  <div class="width40"><%=item.subjectName%></div>
	  <div class="width40 flex textC">
	   <%if(lessonNo==1){%>
	    <p class="estAver"></p>
	     <%}%>
	    <p class="scoreAver"></p>
	    <%if(lessonNo==1||lessonNo==2){%>
	    <p class="repeatAver"></p>
	     <%}%>
	  </div>
	  <div class="width20 textC sub_title_pic">
	   <img src="../base/img/toggleDown.ing" width="25px" alt="" class="toggleDown">
	   <img src="../base/img/toggleUp.ing"  width="25px" alt="" class="toggleUp">
	  </div>
	</div>
<div class="itemCantain">	
<%
// 右边检查项
_.each(item.ratms,function(ratm_item,index){
	// 获取红色项分数值
	var colorvalue="";
	_.each(ratm_item.scores,function(score_item,index){
       if(score_item.color=="#f00"){
            colorvalue=score_item.score;
       }
       if(!score_item.remark){
       	score_item.remark="no remark";
       }
	});%>		
		<div class="score_item flex showCoreDetail"  data-rtamId='<%=ratm_item.ratmId%>'>
					<div class="width40 rtamName" data-name='<%=ratm_item.name%>'><%=ratm_item.name%></div>
					<div class="width40 flex textC">
					<%if(lessonNo==1){%>
						<div class="score estimate" data-value='<%=ratm_item.estimateValue%>'>
						<span><%=ratm_item.estimateValue%></span></div>
					<%}%>
                      <%if(colorvalue==ratm_item.scoreValue){%>
						      <div class="score scoreValue" data-value='<%=ratm_item.scoreValue%>' >
						         <span id="lhscore"><%=ratm_item.scoreValue%></span>
						      </div>
							<%}else{%>
						        <div class="score scoreValue" data-value='<%=ratm_item.scoreValue%>'>
						            <span><%=ratm_item.scoreValue%></span>
						        </div>
								<%}%>
					  <%if(lessonNo==1||lessonNo==2){%>
						<div class="score repeat" data-value='<%=ratm_item.repeat%>' style="visibility:hidden"><%=ratm_item.repeat%></div>
						<%}%>
					</div>
					<div class="width20"></div>
					<%if(ratm_item.remark){%>
					    <div class="remark"  data-remark='<%=ratm_item.remark%>'>
						   <img src="../base/img/editRemark.ing" alt="">
					    </div>
				    <%}else{%>
				        <div class="remark disNone"  data-remark='<%=ratm_item.remark%>'>
						   <img src="../base/img/editRemark.ing" alt="">
					    </div>
				    	<%}%>
		</div>
	 <%})%>
  </div>
</div>

<%})%>
<%})%>
</div>
</div>
<%} 
%>
</script>